<%# cache([site, I18n.locale, 'footer']) do %>
<!-- START COPYRIGHT -->
<section id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center"><small>CONSTRUCTION PROJECT MANAGER / CPM  - SARL au capital de 7500€ - SIRET 529 726 101 00015 - APE 7112B</small></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-left">
        <%= render_menu('pipe') %>
      </div>
      <div class="col-xs-6 text-right">
        <p>@ Copyright. All Rights Reserved. Created by <a href="http://www.joufdesign.com">Jouf Design.</a></p>
      </div>
    </div>
  </div>
</section>
<!-- END COPYRIGHT -->
<%# end %>